<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <!-- Network permissions for API calls -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:name=".FoodRescueHubApplication"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FoodRescueHub"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDyRDq6SegBgoxIWUPmbFYqFSmcbCAadbo" />

        <activity
            android:name=".MainActivity"
            android:exported="false" />
        <activity
            android:name=".ui.home.HomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Payment Result Deep Link Handler -->
        <activity
            android:name=".PaymentResultActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                
                <!-- Match Backend Success Callback -->
                <data
                    android:scheme="frhapp"
                    android:host="payment"
                    android:pathPrefix="/success" />
                
                <!-- Match Backend Cancel Callback -->
                <data
                    android:scheme="frhapp"
                    android:host="payment"
                    android:pathPrefix="/cancel" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.detail.ProductDetailActivity" android:exported="false" />
        <activity android:name=".ui.cart.CartActivity" android:exported="false" android:label="Shopping Cart" />
        <activity android:name=".ui.auth.LoginActivity" android:exported="false" android:windowSoftInputMode="adjustResize" />
        <activity android:name=".ui.profile.ProfileActivity" android:exported="false" android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.search.SearchResultsActivity" android:exported="false" android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.orders.OrdersActivity" android:exported="false" android:label="My Orders" android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.orders.OrderDetailActivity" android:exported="false" android:label="Order Details" android:parentActivityName=".ui.orders.OrdersActivity" />
        <activity android:name=".ui.location.LocationActivity" android:exported="false" android:label="Nearby Stores" android:parentActivityName=".ui.home.HomeActivity" />
        <activity android:name=".ui.qrcode.QRCodeActivity" android:exported="false" android:label="Pickup Code" android:parentActivityName=".ui.orders.OrderDetailActivity" />
        <activity android:name=".ui.checkout.CheckoutActivity" android:exported="false" android:label="Checkout" android:parentActivityName=".ui.cart.CartActivity" />
        <activity
            android:name=".ui.checkout.PaymentWebViewActivity"
            android:exported="false"
            android:label="Secure Payment" />
    </application>

</manifest>
